@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Variable.woff2") format("woff2 supports variations");
  src: url("../fonts/Comfortaa-Variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2 supports variations");
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

