{% macro itemPractitioner(firstName, lastName, jobTitle, profilePicture, practitionerUrl) %}
  {% set thumbnail = '/uploads/img/team/310x400/' ~ profilePicture %}
  {% set fullName %}
    {% if jobTitle === "Médecin généraliste" %}Dr {% endif %}
    {{lastName}} {{firstName}}
  {% endset %}
  <article class="practitioner__thumbnail">
    <div class="image-container">
      <img src="{{thumbnail}}" alt="portrait of {{fullName}}" srcset="">
    </div>
    <h3 class="practitioner__thumbnail__title">{{ fullName }}</h3>
    <p class="practitioner__thumbnail__job-title">{{ jobTitle }}</p>
    <a class="link" href="{{practitionerUrl}}">
      <span>Plus d'informations</span>
    </a>
    {% if activeSection == "team" %}
      <button class="button">
        <span>Prendre rendez-vous</span>
        <svg class="icon button__icon" width="100%" height="100%" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.65035 1.23438L8.51558 7.46875C8.67965 7.67383 8.80269 7.91993 8.80269 8.125C8.80269 8.3711 8.67965 8.61719 8.51558 8.82227L2.65035 15.0566C2.28121 15.4668 1.66597 15.4668 1.25582 15.0977C0.845661 14.7285 0.845661 14.1133 1.2148 13.7031L6.4648 8.125L1.2148 2.58789C0.845661 2.17774 0.845661 1.5625 1.25582 1.19336C1.66597 0.824223 2.28121 0.824223 2.65035 1.23438Z" fill="#2A6355"/>
        </svg>
      </button>
    {% endif %}
  </article>
{% endmacro %}