.button {
  background-color: var(--color-primary-light);
  color: var(--color-primary-darker);
  border-radius: calc(48 / 16 * 1rem);
  border: none;
  padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
}