---
permalink: index.html
---

{% extends "layouts/default.html" %}

{% set activeSection = "home" %}
{% set metaTitle = "Medichenois" %}
{% set metaDescription = "Site web du centre Medichenois" %}

{% from "macros/item-practitioner-thumbnail.html" import itemPractitionerThumbnail %}
{% from "macros/item-news.html" import itemNews %}

{% block content %}
<main>
  <div class="page-content">
    <section class="page-intro">
      <div class="u-wrapper">
        <div class="page-intro-grid">
          <div class="page-intro-grid__column page-intro-grid__column--left">
            <h2 class="h2 slogan">
             <span>Centre</span>
             <span>Medichenois</span>
            </h2>
            <button class="button">
              <span>Notre équipe</span>
              <svg class="icon button__icon" width="100%" height="100%" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.65035 1.23438L8.51558 7.46875C8.67965 7.67383 8.80269 7.91993 8.80269 8.125C8.80269 8.3711 8.67965 8.61719 8.51558 8.82227L2.65035 15.0566C2.28121 15.4668 1.66597 15.4668 1.25582 15.0977C0.845661 14.7285 0.845661 14.1133 1.2148 13.7031L6.4648 8.125L1.2148 2.58789C0.845661 2.17774 0.845661 1.5625 1.25582 1.19336C1.66597 0.824223 2.28121 0.824223 2.65035 1.23438Z" fill="#2A6355"/>
              </svg>
            </button>
          </div>
          <div class="page-intro-grid__column page-intro-grid__column--right">
            <img src="../../assets/img/cover.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </section>
    <section class="mission-section">
      <div class="u-wrapper">
        <div class="mission-grid">
          <div class="mission-grid__column">
            <img src="../../assets/img/tree_spouting.png" alt="" srcset="">
          </div>
          <div class="mission-grid__column">
            <h2 class="h2">Notre mission</h2>
            <p class="text-container">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </section> 
    <section class="team-section">
      <div class="u-wrapper">
        <h2 class="h2">Notre équipe</h2>
        <p class="text-container">Notre équipe de pluridisciplinaire et motivé mets à votre disposition leur expérience et connaissances pour offire un suivit et des soins de qualité tout au long de l'année.</p>
        {% for practitioner in collections.practitioners %}
          {% if loop.first %}<ul class="practitioner-thumbnails list">{% endif %}
            <li class="practitioner-thumbnail">
              {{ itemPractitionerThumbnail(
                 thumbnailUrl=practitioner.data.thumbnailUrl,
                 fullName=practitioner.data.lastName,
                 jobTitle=practitioner.data.jobTitle
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </section>
    <section class="news-section">
      <div class="u-wrapper">
        <h2 class="h2">Last news</h2>
        {% for newItem in collections.news | limit(4) %}
        {% if loop.first %}<ul class="news-list">{% endif %}
          <li class="news-list__item">
            {{ itemNews(
                title=newItem.data.title,
                excerpt=newItem.data.excerpt,
                date=newItem.data.date
            ) }}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
      </div>
    </section>
    <section id="contact" class="contact-section">
      <div class="u-wrapper">
        <h2 class="h2">Contact</h2>
        <div class="contact-grid">
          <div class="contact-grid__column contact-grid__column--left">
            <h3 class="h3 contact-title">Une question?</h3>
            <p>Afin de répondre de façon éfficace et adapté à toutes vos question nous vous proposont de contacter directement l'un des membres de notre équipe à l'aide du lien suivant</p>
            <button class="button">
              <span>Notre équipe</span>
              <svg class="icon button__icon" width="100%" height="100%" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.65035 1.23438L8.51558 7.46875C8.67965 7.67383 8.80269 7.91993 8.80269 8.125C8.80269 8.3711 8.67965 8.61719 8.51558 8.82227L2.65035 15.0566C2.28121 15.4668 1.66597 15.4668 1.25582 15.0977C0.845661 14.7285 0.845661 14.1133 1.2148 13.7031L6.4648 8.125L1.2148 2.58789C0.845661 2.17774 0.845661 1.5625 1.25582 1.19336C1.66597 0.824223 2.28121 0.824223 2.65035 1.23438Z" fill="#2A6355"/>
              </svg>
            </button>
          </div>
          <div class="contact-grid__column contact-grid__column--right">
            <h3 class="h3 contact-title">Localisation</h3>
            <div class="contact-address">
              <span>34 Av auguste jassogne</span>
              <span>1410 waterloo, Belgium</span>
            </div>
          </div>
        </div>
      </div>
      <div class="map-container">
        <div id="map" class="map"></div>
      </div>
    </section>
  </div>
</main>
{% endblock %}