---
permalink: index.html
---

{% extends "layouts/default.html" %}

{% set activeSection = "home" %}
{% set metaTitle = "Medichenois" %}
{% set metaDescription = "Site web du centre Medichenois" %}

{% from "macros/item-practitioner.html" import itemPractitioner %}
{% from "macros/item-news.html" import itemNews %}

{% block content %}
<main>
  <div class="page-content">
    <section class="page-intro">
      <div class="page-intro__column">
        <h2 class="h2 slogan">
         <span>Centre</span>
         <span>Medichenois</span>
        </h2>
        <button class="button">Our team</button>
      </div>
      <div class="page-intro__column">
        <img src="../../assets/img/cover.png" alt="" srcset="">
      </div>
    </section>
    <section class="team-section">
      <h2 class="h2">Our mission</h2>
      <p class="text-container">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
      {% for practitioner in collections.practitioners %}
        {% if loop.first %}<ul class="practitioners list">{% endif %}
          <li class="practitioner">
            {{ itemPractitioner(
               pictureUrl=practitioner.data.pictureUrl,
               fullName=practitioner.data.lastName,
               jobTitle=practitioner.data.jobTitle
            ) }}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </section>
    <section>
      <h2 class="h2">Last news</h2>
      <div class="news-background">
        {% for newItem in collections.news %}
        {% if loop.first %}<ul class="news-list">{% endif %}
          <li class="news-list__item">
            {{ itemNews(
               title=newItem.data.title,
               excerpt=newItem.data.excerpt,
               jobTitle=newItem.data.date
            ) }}
          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
      </div>
    </section>
    <div class="map-container">
      <div id="map" class="map"></div>
    </div>
  </div>
</main>
{% endblock %}