---
permalink: news/index.html
---

{% extends "layouts/default.html" %}

{% set activeSection = "news" %}
{% set metaTitle = "News" %}
{% set metaDescription = "News and information about the center" %}

{% block content %}
  <main>
    <div class="u-wrapper">
      {% for article in collections.news %}
        {% if loop.first %}<ul class="article-thumbnails">{% endif %}
          <li class="article-thumbnail">
            <div class="image-container">
              <img class="article-thumbnail__cover" src="../{{article.data.thumbnailUrl}}" alt="cover of the article" srcset="">
            </div>
            <div class="article-thumbnail__content"> 
              <ul class="article-thumbnail__tags">
                {% for tag in article.data.tags %}
                  <li class="article-thumbnail__tag">{{tag}}</li>
                {% endfor %}
              </ul>
              <h2 class="article-thumbnail__title">{{article.data.title}}</h2>
              <p class="article-thumbnail__body">{{article.data.excerpt}}</p>
              <a class="link article_detail">Lire</a>
              <time class="article-thumbnail__date" datetime="{{ article.data.date | dateISO }}">{{article.data.date | dateFull}}</time>
            </div>
          </li>
        {% if loop.last %}</ul>{% endif %}
        <div class="panel-container">
          <div class="panel">
            <header class="panel__header">
              <button class="panel__close" data-behavior="close_panel">
                <i class="panel__close__icon icon__close"></i>
                <span class="panel__close__label link">Fermer</span>
              </button>
            </header>
            <div class="panel__content">
              <article class="article">
                <header>
                  <div class="u-wrapper-text">
                    <h1 class="article__title">{{article.data.title}}</h1>
                    <p class="article__intro">{{article.data.excerpt}}</p>
                    <time class="article__date" datetime="{{ article.data.date | dateISO }}">{{article.data.date | dateFull}}</time>
                  </div>
                  <div class="image-container">
                    <img class="article__cover" src="../{{article.data.pictureUrl}}" alt="cover of the article" srcset="">
                  </div>
                </header>
                <div class="article__body">
                  <div class="u-wrapper-text">
                    {{ article.content | safe }}
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}