---
permalink: practitioners/index.html
---

{% extends "layouts/default.html" %}

{% set activeSection = "practitioners" %}
{% set metaTitle = "Practitioners" %}
{% set metaDescription = "List of all practitioners" %}

{% from "macros/item-practitioner.html" import itemPractitioner %}

{% block content %}
  <main>
    <div class="page-content">
      <div class="u-wrapper">
        <h2 class="h2">Notre équipe</h2>
        <p class="text-container">Notre équipe de pluridisciplinaire et motivé mets à votre disposition leur expérience et connaissances pour offire un suivit et des soins de qualité tout au long de l'année.</p>
      </div>
      <div class="u-wrapper">
        {% for category, practitioners in collections.practitionersPerCategory %}
          {% if loop.first %}<ul class="categories list">{% endif %}
            <li class="category">
              <h2 class="category__name">
                {{category}}
              </h2>
            </li>
            {% for practitioner in practitioners %}
              {% if loop.first %}<ul class="practitioners list">{% endif %}
                <li class="practitioner">
                  {{ itemPractitioner(
                      thumbnailUrl=practitioner.data.thumbnailUrl,
                      fullName=practitioner.data.lastName,
                      jobTitle=practitioner.data.jobTitle
                  ) }}
                </li>
              {% if loop.last %}</ul>{% endif %}
              {% endfor %}
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}