// -------------------------------------
// Colors
// -------------------------------------

:root {
  --color-primary-lighter: #E3FFE6;
  --color-primary-light: #C4EBC2;
  --color-primary-dark: #508B4B;
  --color-primary-darker: #2A6355;

  --color-secondary-lighter: #FFF9E3;
  --color-secondary-light: #FFD2A9;
  --color-secondary-dark: #E98D62;
  --color-secondary-darker: #554537;
  
  --color-gray2: #f3f3f2;
  --color-gray3: #e7e7e6;
  --color-gray5: #bfbfbd;
  --color-gray7: #6d6d6d;

  --color-black: #000000;
  --color-white: #ffffff;
}